h3, p {
    width: 255px;
}

ul {
    width: 245px;
}

h3, ul, p {
    padding: 5px;
    background-color: aquamarine;

    border: 2px solid;
}

ul {
    padding: 10px;
    list-style-type: square;
    list-style-position: inside;
}
